@model List<SocialMedia>

<nav role="navigation">
    <ul class="nav justify-content-left">
        @foreach (var value in Model)
        {
            <li class="nav-item"><a class="nav-link" href="@value.Url" title="@value.Name"><i class="fab fa-@value.Name.ToLower()"></i><span class="menu-title sr-only">@value.Name</span></a></li>
        }
    </ul>
</nav>