@model EntityLayer.Concrete.Feature

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <form asp-action="Index" asp-controller="Feature" method="post" class="form">
            <div class="form-group">
                <label for="Title" class="form-label">Feature Header</label>
                <input type="text" class="form-control" asp-for="Header" placeholder="@Model.Header">
            </div>
            <div class="form-group">
                <label for="Value" class="form-label">Feature Name</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="@Model.Name">
            </div>
            <div class="form-group">
                <label for="Value" class="form-label">Feature Title</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="@Model.Title">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

